<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.xuexibao.xcomet" >

    <application>
        <service
            android:name="com.xuexibao.android.push.XPushService"
            android:enabled="true"
            android:exported="true" >
        </service>
    </application>

</manifest>
